.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
#uploadform
{
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}
.uploadbtn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

#file {
  border: 1px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
}